name: Docker Image CI

on:
  push:
    branches: [ master ]
    tags:
      - v1.*
      - v2.*
      - v3.*

jobs:

  build:
    name: Build Image and Publish to Docker Hub
    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v4
     
     - name: Publish to DockerHub mcliff/cdkbuild
       uses: elgohr/Publish-Docker-Github-Action@v5
       with:
         name: mcliff/cdkbuild
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
         workdir: cdkbuild
         tag_semver: true
